<html>

<head>
    <title>Automated Camera Control Page</title>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>

    <script type="text/javascript">
        function move(direction) {
            console.log("Moving in direction " + direction);
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"move",
                    "direction":direction,
                },
                success: function (response) {
                    console.log(response);
                    if (response !== "False") {
                        $('input#panPos')[0].value = response.pan;
                        $('input#tiltPos')[0].value = response.tilt;
                    }
                }
            });
        }

        function step(axis) {
            var amount = $("input#stepAmount").val();
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"step",
                    "axis":axis,
                    "amount":amount
                },
                success: function (response) {
                    console.log(response);
                }
            });
        }

        function setSpeed(axis) {
            var amount;
            if (axis == "pan") {
               amount = $("input#panSpeed").val();
            } else {
               amount = $("input#tiltSpeed").val();
            }
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"speed",
                    "axis":axis,
                    "amount":amount
                },
                success: function (response) {
                    console.log(response);
                }
            });
        }

        function takePicture() {
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"picture"
                },
                success: function(response) {
                    console.log("Taken picture.");
                }
            });
        }

        function command() {
            var cmd = $("input#commandText").val();
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"command",
                    "cmd":cmd
                },
                success: function(response) {
                    console.log(response);
                    if (response !== "False") {
                        $("input#commandText").css("background-color", "white");
                        console.log("Executed command: " + cmd);
                        $('input#panPos')[0].value = response.pan;
                        $('input#tiltPos')[0].value = response.tilt;
                    } else {
                        $("input#commandText").css("background-color", "red");
                        console.log("Failed to execute command: " + cmd);
                    }
                }
            });
        }

        function manualToggle() {
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type": "manualToggle"
                },
                success: function(response) {
                    console.log("Toggled manual mode.");
                }
            });
        }

        function setBlock() {
            var block = $("input#block")[0].checked;
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"block",
                    "value":block
                },
                success: function(response) {
                    console.log("Changed blocking state to " + block + ".");
                }
            });
        }

        function setPos(axis) {
            var pos = 0;
            var input;
            if (axis == "pan") {
                input = $('input#panPos');
            } else if (axis == "tilt") {
                input = $('input#tiltPos');
            }
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"setPos",
                    "axis":axis,
                    "value":input.val()
                },
                success: function(response) {
                    if (response == "True") {
                        console.log("Set " + axis + " positon to: " + pos);
                        input.css("background-color", "white");
                    } else {
                        console.log("Failed to set " + axis + " position to: " + pos);
                        input.css("background-color", "red");
                    }
                }
            });
        }

        function zero() {
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"zero"
                },
                success: function(response) {
                    console.log(response);
                    $('input#panPos')[0].value = 0;
                    $('input#tiltPos')[0].value = 0;
                }
            });
        }

        function demo() {
            $.ajax({
                type: 'POST',
                url: '/',
                data: {
                    "type":"demo"
                },
                success: function(response) {
                    console.log("Toggled demonstration mode.");
                }
            });
        }

        // Get thumbnails every 5 seconds from camera
//        $(function () {
//            setInterval(function () {
//                $.ajax({
//                    url: '/',
//                    data: {
//                        "type":"thumbnails"
//                    },
//                    type: 'POST',
//                    success: function (response) {
//                        jQuery('#output').html(response);
//                    },
//                    error: function (error) {
//                        console.log(error);
//                    }
//                });
//            }, 5000);
//        });
    </script>
</head>

<body>
    <h1>Automated Camera Control Page</h1>

    <h3>Camera Controls</h3>
    <form method="post">
        <button type="button" onclick="move('left')">Left</button>
        <button type="button" onclick="move('down')">Down</button>
        <button type="button" onclick="move('up')">Up</button>
        <button type="button" onclick="move('right')">Right</button><br>
        <button type="button" onclick="move('reset')">Reset</button>
        <button type="button" onclick="zero()">Zero Pan and Tilt</button><br>
        <button type="button" onclick="takePicture()">Take Picture</button><br>
        Block until movement has finished? <input type="checkbox" id="block" onclick="setBlock()" checked><br><br>
        <input type="text" id="panPos" value="0"/> <button type="button" onclick="setPos('pan')">Set Pan Position</button></br>
        <input type="text" id="tiltPos" value="0"/> <button type="button" onclick="setPos('tilt')">Set Tilt Position</button></br>
        <input type="text" id="stepAmount" value="10"/> <button type="button" onclick="step('pan')">Change Pan Step</button><br>
        <input type="text" id="stepAmount" value="10"/> <button type="button" onclick="step('tilt')">Change Tilt Step</button><br>
        <input type="text" id="panSpeed" value="80"/> <button type="button" onclick="setSpeed('pan')">Set panning speed</button><br>
        <input type="text" id="tiltSpeed" value="80"/> <button type="button" onclick="setSpeed('tilt')">Set tilting speed</button><br><br>
        Command: <input type="text" id="commandText"> <button type="button" onclick="command()">Execute</button><br><br>

        <button type="button" onclick="demo()">Toggle Demo Mode</button>
        <button type="button" onclick="manualToggle()">Toggle Manual/Auto Mode</button>
        
        <h4>Available commands:</h4>
        <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
        .tg .tg-cpu2{border-color:#000000;vertical-align:top}
        .tg .tg-yw4l{vertical-align:top}
        </style>
        <table class="tg">
          <tr>
            <th class="tg-yw4l">Command</th>
            <th class="tg-cpu2">Help</th>
          </tr>
          <tr>
            <td class="tg-yw4l">PT [PAN_NUM]x[TILT_NUM]</td>
            <td class="tg-yw4l">Pans and tilts to the given position in steps.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">PAN [NUM]</td>
            <td class="tg-yw4l">Pans the [NUM] amount in steps.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">TILT [NUM]</td>
            <td class="tg-yw4l">Tilts the [NUM] amount in steps.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">SET_PAN [NUM]</td>
            <td class="tg-yw4l">Set the pan position to [NUM].</td>
          </tr>
          <tr>
            <td class="tg-yw4l">SET_TILT [NUM]</td>
            <td class="tg-yw4l">Sets the tilt positon to [NUM].</td>
          </tr>
          <tr>
            <td class="tg-yw4l">PAN_SPEED</td>
            <td class="tg-yw4l">Sets the panning speed.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">TILT_SPEED</td>
            <td class="tg-yw4l">Sets the tilting speed.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">RESET</td>
            <td class="tg-yw4l">Resets pan and tilt to their original positions.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">RESET_PAN</td>
            <td class="tg-yw4l">Resets pan to its original position.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">RESET_TILT</td>
            <td class="tg-yw4l">Resets tilt to its original position.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">MANUAL_TOGGLE</td>
            <td class="tg-yw4l">Toggles between manual and auto tracking mode.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">ZERO</td>
            <td class="tg-yw4l">Zeros pan and tilt positions to zero without moving them.</td>
          </tr>
          <tr>
            <td class="tg-yw4l">DEMO</td>
            <td class="tg-yw4l">Toggles demonstration mode. In this mode, only solid red blobs will be tracked.</td>
          </tr>
</table>
    </form>

    <br>
    <h3>Thumbnails</h3>
    <div id="output"></div>
</body>

</html>
